@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-background text-text-primary;
  }
  ::selection {
    background: rgba(99, 102, 241, 0.3);
    color: white;
  }
}
